# Output files
final_report.md
template.md
out.txt
cgout.txt
out.json
cgout.json
out-kev.txt
cgout-kev.txt
kev.json
epss_output_file
out-epss.txt
cgout-epss.txt
out-cves/
cgout-cves/
assets/
*.pdf
*.html
report.html
report.pdf

# Backup files
*.backup

# Python cache
__pycache__/
*.py[cod]
*$py.class
